In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib
import warnings
warnings.filterwarnings('ignore')

cust_df = pd.read_csv("./santander.csv", encoding='latin-1')
print('dataset shape:', cust_df.shape)
cust_df.head(3)

dataset shape: (76020, 371)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0

산탄데르 은행 고객 만족도조사 결과
피처 - 익명화, 컬럼명 익명화, 수치, 0인 데이터가 대다수 - 희소성
타겟 - TARGET

# 데이터 탐색

In [2]:
cust_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

100명중 4명이 불만족하는 데이터

In [4]:
cust_df['TARGET'].value_counts() #0 만족, 1 불만족
unsatisfied_cnt = cust_df[cust_df['TARGET']==1].TARGET.count()
total_cnt = cust_df.TARGET.count()

print(f'불만족 비율은 : {unsatisfied_cnt/total_cnt:.2f}')

불만족 비율은 : 0.04

최소값, Q1, Q2, Q3 가 0인 피처가 많다.
최소값 -999999.000000 인 피처 var3 > Nan > 중위값/최빈값 2로 대체

In [5]:
cust_df.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [6]:
cust_df.var3.value_counts()

 2         74165
 8           138
-999999      116
 9           110
 3           108
           ...
 231           1
 188           1
 168           1
 135           1
 87            1
Name: var3, Length: 208, dtype: int64

## 피처 선택 - id 삭제, var3 은 최빈값 2로 대체

In [7]:
cust_df.drop('ID', axis=1, inplace=True)
cust_df['var3'].replace(-999999, 2, inplace=True)

cust_df.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

## X, y 데이터 분할

In [9]:
X_features = cust_df.iloc[:, :-1]
y_labels = cust_df.iloc[:, -1]
X_features.shape, y_labels.shape

((76020, 369), (76020,))

## 훈련/테스트 분할

In [10]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X_features, y_labels, test_size=0.2, random_state=0)
#X_train.count()
print(f'학습 데이터 shape : {X_train.shape}, 테스트 데이터 shape : {X_test.shape}')

train_cnt = y_train.count()
test_cnt = y_test.count()
print(f'학습 데이터 값의 비율 : {y_train.value_counts()/train_cnt}')
print(f'테스트 데이터  값의 비율 : {y_test.value_counts()/test_cnt}')

학습 데이터 shape : (60816, 369), 테스트 데이터 shape : (15204, 369)
학습 데이터 값의 비율 : 0    0.960964
1    0.039036
Name: TARGET, dtype: float64
테스트 데이터  값의 비율 : 0    0.9583
1    0.0417
Name: TARGET, dtype: float64

# DT 예측기

# RF 예측기

# XGBoost 예측기 p271

## 훈련 데이터 > 훈련:검증 분할

In [17]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.3, random_state=0)

## XGBoost model

In [18]:
%%time

from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

xgb_clf = XGBClassifier(n_estimator=500, learning_rate=0.05, random_state=156)
xgb_clf.fit(X_tr, y_tr, early_stopping_rounds=100, eval_metric='auc', eval_set=[(X_tr, y_tr), (X_val, y_val)])
xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict_proba(X_test)[:, 1])
xgb_roc_score

[0]	validation_0-auc:0.82179	validation_1-auc:0.80068
[1]	validation_0-auc:0.83092	validation_1-auc:0.80941
[2]	validation_0-auc:0.83207	validation_1-auc:0.80903
[3]	validation_0-auc:0.83288	validation_1-auc:0.80889
[4]	validation_0-auc:0.83414	validation_1-auc:0.80924
[5]	validation_0-auc:0.83524	validation_1-auc:0.80907
[6]	validation_0-auc:0.83568	validation_1-auc:0.81005
[7]	validation_0-auc:0.83741	validation_1-auc:0.81088
[8]	validation_0-auc:0.83896	validation_1-auc:0.81305
[9]	validation_0-auc:0.83949	validation_1-auc:0.81363
[10]	validation_0-auc:0.83908	validation_1-auc:0.81277
[11]	validation_0-auc:0.83913	validation_1-auc:0.81260
[12]	validation_0-auc:0.84009	validation_1-auc:0.81325
[13]	validation_0-auc:0.84081	validation_1-auc:0.81329
[14]	validation_0-auc:0.84196	validation_1-auc:0.81380
[15]	validation_0-auc:0.84394	validation_1-auc:0.81540
[16]	validation_0-auc:0.84414	validation_1-auc:0.81573
[17]	validation_0-auc:0.84437	validation_1-auc:0.81577
[18]	validation_0-auc:0.84468	validation_1-auc:0.81569
[19]	validation_0-auc:0.84586	validation_1-auc:0.81625
[20]	validation_0-auc:0.84641	validation_1-auc:0.81619
[21]	validation_0-auc:0.84685	validation_1-auc:0.81611
[22]	validation_0-auc:0.84735	validation_1-auc:0.81671
[23]	validation_0-auc:0.84793	validation_1-auc:0.81682
[24]	validation_0-auc:0.84825	validation_1-auc:0.81675
[25]	validation_0-auc:0.84893	validation_1-auc:0.81647
[26]	validation_0-auc:0.85104	validation_1-auc:0.81724
[27]	validation_0-auc:0.85206	validation_1-auc:0.81764
[28]	validation_0-auc:0.85327	validation_1-auc:0.81873
[29]	validation_0-auc:0.85425	validation_1-auc:0.82038
[30]	validation_0-auc:0.85624	validation_1-auc:0.82231
[31]	validation_0-auc:0.85716	validation_1-auc:0.82223
[32]	validation_0-auc:0.85785	validation_1-auc:0.82261
[33]	validation_0-auc:0.85878	validation_1-auc:0.82289
[34]	validation_0-auc:0.85931	validation_1-auc:0.82389
[35]	validation_0-auc:0.86006	validation_1-auc:0.82446
[36]	validation_0-auc:0.86079	validation_1-auc:0.82537
[37]	validation_0-auc:0.86101	validation_1-auc:0.82546
[38]	validation_0-auc:0.86156	validation_1-auc:0.82593
[39]	validation_0-auc:0.86224	validation_1-auc:0.82610
[40]	validation_0-auc:0.86284	validation_1-auc:0.82603
[41]	validation_0-auc:0.86314	validation_1-auc:0.82624
[42]	validation_0-auc:0.86388	validation_1-auc:0.82694
[43]	validation_0-auc:0.86493	validation_1-auc:0.82741
[44]	validation_0-auc:0.86557	validation_1-auc:0.82757
[45]	validation_0-auc:0.86643	validation_1-auc:0.82795
[46]	validation_0-auc:0.86733	validation_1-auc:0.82860
[47]	validation_0-auc:0.86788	validation_1-auc:0.82878
[48]	validation_0-auc:0.86815	validation_1-auc:0.82881
[49]	validation_0-auc:0.86902	validation_1-auc:0.83000
[50]	validation_0-auc:0.86956	validation_1-auc:0.83040
[51]	validation_0-auc:0.86992	validation_1-auc:0.83036
[52]	validation_0-auc:0.87037	validation_1-auc:0.83061
[53]	validation_0-auc:0.87088	validation_1-auc:0.83071
[54]	validation_0-auc:0.87157	validation_1-auc:0.83092
[55]	validation_0-auc:0.87206	validation_1-auc:0.83143
[56]	validation_0-auc:0.87277	validation_1-auc:0.83170
[57]	validation_0-auc:0.87329	validation_1-auc:0.83171
[58]	validation_0-auc:0.87369	validation_1-auc:0.83168
[59]	validation_0-auc:0.87428	validation_1-auc:0.83172
[60]	validation_0-auc:0.87489	validation_1-auc:0.83166
[61]	validation_0-auc:0.87565	validation_1-auc:0.83160
[62]	validation_0-auc:0.87618	validation_1-auc:0.83164
[63]	validation_0-auc:0.87685	validation_1-auc:0.83174
[64]	validation_0-auc:0.87749	validation_1-auc:0.83209
[65]	validation_0-auc:0.87810	validation_1-auc:0.83233
[66]	validation_0-auc:0.87867	validation_1-auc:0.83246
[67]	validation_0-auc:0.87932	validation_1-auc:0.83256
[68]	validation_0-auc:0.87982	validation_1-auc:0.83264
[69]	validation_0-auc:0.88036	validation_1-auc:0.83250
[70]	validation_0-auc:0.88087	validation_1-auc:0.83226
[71]	validation_0-auc:0.88182	validation_1-auc:0.83208
[72]	validation_0-auc:0.88232	validation_1-auc:0.83234
[73]	validation_0-auc:0.88293	validation_1-auc:0.83247
[74]	validation_0-auc:0.88342	validation_1-auc:0.83244
[75]	validation_0-auc:0.88401	validation_1-auc:0.83246
[76]	validation_0-auc:0.88451	validation_1-auc:0.83238
[77]	validation_0-auc:0.88487	validation_1-auc:0.83224
[78]	validation_0-auc:0.88518	validation_1-auc:0.83234
[79]	validation_0-auc:0.88561	validation_1-auc:0.83233
[80]	validation_0-auc:0.88637	validation_1-auc:0.83253
[81]	validation_0-auc:0.88665	validation_1-auc:0.83255
[82]	validation_0-auc:0.88703	validation_1-auc:0.83245
[83]	validation_0-auc:0.88756	validation_1-auc:0.83261
[84]	validation_0-auc:0.88791	validation_1-auc:0.83249
[85]	validation_0-auc:0.88852	validation_1-auc:0.83263
[86]	validation_0-auc:0.88895	validation_1-auc:0.83251
[87]	validation_0-auc:0.88933	validation_1-auc:0.83237
[88]	validation_0-auc:0.88970	validation_1-auc:0.83233
[89]	validation_0-auc:0.89021	validation_1-auc:0.83231
[90]	validation_0-auc:0.89065	validation_1-auc:0.83222
[91]	validation_0-auc:0.89105	validation_1-auc:0.83236
[92]	validation_0-auc:0.89142	validation_1-auc:0.83218
[93]	validation_0-auc:0.89176	validation_1-auc:0.83239
[94]	validation_0-auc:0.89213	validation_1-auc:0.83220
[95]	validation_0-auc:0.89241	validation_1-auc:0.83227
[96]	validation_0-auc:0.89278	validation_1-auc:0.83213
[97]	validation_0-auc:0.89302	validation_1-auc:0.83223
[98]	validation_0-auc:0.89329	validation_1-auc:0.83209
[99]	validation_0-auc:0.89361	validation_1-auc:0.83227
CPU times: total: 1min 20s
Wall time: 9.53 s

0.8397812474965844

# 최적화 파라미터 기준 모델 평가

n_estimator=500
learning_rate = 0.15
max_depth = 5

# 하이퍼오피티, LGBM 추가 예정